

 <div class="titrePage text-success ">Connexion</div>

 <div class="container mx-5 m">
   <form [formGroup]="connexionForm">
     <div class="form-group my-3">
       <label> Email:</label>
       <input class="form-control" formControlName="email" type="email" name="email" id="email" >
     </div>

     <div class="form-group my-3">
       <label>Password:</label>
       <input class="form-control" formControlName="password" type="password" name="password" id="password" >
     </div>

     <div class="form-group my-3 ">
       <button class="btn btn-success " (click)="connecter() " type="submit">Connexion</button>
       <button class="btn btn-outline-danger mx-5" type="reset">Effacer </button>
     </div>

   </form>
 </div>
